<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="goods">

  <select id="selectAll" resultType="goodsVo">
    select * from goods
  </select>
  
  <select id="detail" resultType="goodsVo">
    select * from goods where no=#{no }
  </select>
  
    <insert id="insert" parameterType="goodsVo">
    insert into goods values(#{no},#{name},#{price},#{qty},#{fname})
  </insert>
  
   <update id="update" parameterType="goodsVo">
    update goods set name=#{name},price=#{price},qty=#{qty},fname=#{fname} where no=#{no}
  </update>
  
  <delete id="delete" parameterType="goodsVo">
    delete goods where no=#{no}
  </delete>
</mapper>