<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="articleDao" class="com.bit.exam08.ArticleDao" />
	<bean id="ws" class="com.bit.exam08.WriteArticleServiceImple">
		<constructor-arg>
			<ref bean="articleDao"/>
		</constructor-arg>
	</bean>
</beans>
<!-- 메인메소드를 작성하고 결과를 확인해보기 -->