<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="Book" class="com.bit.exam09.Book">
		<constructor-arg>
			<value>0001</value>
		</constructor-arg>
		
		<constructor-arg>
			<value>감자칩장인</value>
		</constructor-arg>
		
		<constructor-arg>
			<value>오리온</value>
		</constructor-arg>
		
		<constructor-arg>
			<value>10000</value>
		</constructor-arg>
	</bean>
		<bean id="bookdao" class="com.bit.exam09.BookDao">
		<constructor-arg>
			<ref bean="book" />
		</constructor-arg>	
		</bean>
</beans>
